// Main content page
main
    section(class="top_main-content")
        .container 
            div(class="row")
    section(class="main_content py-3 my-2")
        .container 
            div(class="row")
                +mainCards()