//- Start files JS
// Jquery  &  Bootstrap JS 
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
script(src = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-2/js/bootstrap.min.js')

// My file JS  
script(src = './assets/js/main.js')