// Fonts
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" )/


// Fontawesome libs
link(rel = 'stylesheet' href = './assets/css/all.min.css')/

// Bootstrap CSS 4.6
link(rel = 'stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-2/css/bootstrap-rtl.min.css')/

// My file CSS
link(rel = 'stylesheet' href = './assets/css/style.css')/
    