// Footer content
footer
    section(class="top_footer bg-dark text-white py-3")
        .container 
            div(class="row")
                div(class="col-lg-3 col-md-4 d-flex justifty-content-start")
                    div(class="content")
                        h5(class="lead") الرئيسية
                        nav(class="nav flex-column")
                            +listMainFooter()
                div(class="col-lg-3 col-md-4 d-flex justifty-content-start")
                    div(class="content")
                        h5(class="lead") حساب مشتري
                        nav(class="nav flex-column")
                            +listAccountFooter()
                        h5(class="lead") حساب مشتري
                        nav(class="nav flex-column")
                            +listAccountFooter()
                div(class="col-lg-3 col-md-4 d-flex justifty-content-start")
                    div(class="content")
                        h5(class="lead") الأكثر بحثا على خاماتو
                        nav(class="nav flex-column")
                            +listSearchFooter()
                div(class="col-lg-3 ")
                    div(class="content content_fast_call text-center")
                        h5(class="lead") طلب أسعار سريع
                        a(href="#" class="order_fast bg-white d-flex align-items-center justify-content-between px-1 mb-1")
                            p(class="text-dark mb-0")
                                span طلب عرض
                                    br
                                span سعر سريع
                            i(class="fas fa-clock")
                    div(class="content content_fast_call text-center my-3")
                        h5(class="lead") يمكننا مساعدتك
                        a(href="tel:16785" class="call")
                            span(class="number mx-2") 16785
                            i(class="fas fa-phone")
                    div(class="content content_fast_call text-center")
                        h5(class="lead")  خيارات سداد آمنة
                        div(class="payments")
                            a(href="http://" class="payment")
                                img(src="./assets/images/fawry-logo.png", alt="")
                            a(href="http://" class="payment")
                                img(src="./assets/images/fawry-logo.png", alt="") 
                            a(href="http://" class="payment")
                                img(src="./assets/images/fawry-logo.png", alt="") 
                            a(href="http://" class="payment")
                                img(src="./assets/images/fawry-logo.png", alt="") 
    section(class="bottom_footer bg-secondary text-white")
        .container 
            div(class="row align-items-center")
                div(class="col-md-3")
                    div(class="social_media d-flex align-items-center justify-content-md-start justify-content-center")
                        h6(class="mb-0 mr-1") تابعنا
                        +socialIcon()
                div(class="col-md-6 d-flex align-items-center justify-content-center my-md-0 my-2")
                    h6(class="mb-0") قم بتحميل
                    div(class="app_stores mx-1")
                        a(href="http://")
                            img(src="./assets/images/app-store-png-logo.png", alt="")
                        a(href="http://" class="mx-2")
                            img(src="./assets/images/app-store-png-logo.png", alt="") 
                div(class="col-md-3 d-flex align-items-center justify-content-md-end justify-content-center my-0")
                    p(class="d-flex align-items-center  flex-row-reverse mb-0") 
                        span 2020 &copy; 
                        a(href="www.khamato" class="mx-1") khamato.com  

//- Files JS
include ../vendors/scripts