//- Items nav bar and links
- let itemsNav = {'خاماتو': '/',  'عروض اليوم ': '#', 'تسهيلات السداد':'#', 'موردينا':'#', 'تسهيلات السداد':'#', 'انضم إلى موردينا':'#', ' تطبيق خاماتو':'#'}

//- Social icons
-let socialIcon = {'fab fa-youtube': 'www.youtube.com', 'fab fa-instagram': 'www.instagram.com', 'fab fa-twitter': 'www.twitter.com', 'fab fa-facebook-f': 'www.facebook.com'}

//- Lists footers
//-1 list main
-let listMainFooter = ["عن خاماتو", "موردينا", "تسهيلات السداد", "عروض اليوم", "انضم لموردينا", "كيفية الشراء", "سياسة إرجاع السلع" , "أعلن عنا", "مساعدة"]

//-2 list account
-let listAccountFooter = ["دخول / تسجيل", "عربة التسوق", "مشترياتي", "عناويني" , "إعداد الحساب"]


//-3 list more search
-let listSearchFooter = ["مواد البناء", "الخرسانة الجاهزة", "حديد التسليح", "كابلات كهربائية", "أطقم حمامات", "خلاطات حمام", "أرضيات إنترلوك" , "منتجات الطوب", "الإضاء الخارجية"]
